/* general */

:root {
    font-size: 62.5%;  /* 1rem = 10px */
}

body {
    font-family: 'Lexend Deca', sans-serif;
	line-height: 2rem;
	font-size: 1.2rem;
	color: var(--dark);
}

h1, 
h2,
h3,
h4{
	margin: 1rem 0;
}
h3 {
	font-size: 1.5rem;
	font-weight: 600;
}

p {
	margin: 1rem 0;
}

a {
	text-decoration: none;
	color:var(--dark);
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}


hr {
	border: 0;
	border-bottom: 1px solid var(--gray);
}
	
::placeholder {
    color: var(--dark);
}



