/* nav */

nav {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    
}

nav a:hover{
    color: var(--secondary); 
}
